@import url(http://weloveiconfonts.com/api/?family=brandico);
[class *= "brandico-"]:before {
	font-family: 'brandico', sans-serif;
}

.animate-show , .animate-hide {
	-webkit-transition: all linear 0.5s;
	transition: all linear 0.5s;
	line-height: 20px;
	opacity: 1;
	&.ng-hide-add, &.ng-hide-remove {
		display: block ! important;
	}
}

.inline {
	display: inline-block;
}

.shortlinks-select {
	&.loggedout .service-icon {
		cursor: pointer;
		color: #ccc;
	}
	
	&.loggedin .service-icon {
		cursor: pointer;
		color: #ace500;
		&.facebook{
			color: #4c65a4;
		}
		&.linkedin{
			color: #1783bc;
		}
		&.google{
			color: #dd4b39;
		}
		&.bitly{
			color: #fac96f;
		}
		&.twitter{
			color: #2daae1;
		}
	}

	span.service-icon {
		cursor: pointer;
	}
}

