@import url(http://weloveiconfonts.com/api/?family=brandico);
[class *= "brandico-"]:before {
	font-family: 'brandico', sans-serif;
}

.animate-show {
	overflow: hidden ! important;
	&.ng-hide-add , &.ng-hide-remove {
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		display: block ! important;
		height: 0px;
	}

	&.ng-hide-remove {
		opacity: 0;
		height: 0px;
		&.ng-hide-remove-active {
			opacity: 1;
			height: 400px;
		}
	}

	&.ng-hide-add {
		opacity: 1;
		height: 400px;
		&.ng-hide-add-active {
			opacity: 0;
			height: 0px;
		}
	}
}

.inline {
	display: inline-block;
}

.shortlinks-select {
	&.loggedout {
		&.required {
			label {
				color: #ccc;
			}

			input {
			}
		}

		.service-icon {
			cursor: pointer;
			color: #ccc;
		}
	}

	&.loggedin .service-icon {
		cursor: pointer;
		color: #ace500;
		&.facebook {
			color: #4c65a4;
		}

		&.linkedin {
			color: #1783bc;
		}

		&.google {
			color: #dd4b39;
		}

		&.bitly {
			color: #fac96f;
		}

		&.twitter {
			color: #2daae1;
		}
	}

	span.service-icon {
		cursor: pointer;
	}
}

